.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-component{
  margin: 30px;
}
.search-field{
  box-shadow: 0 5px 15px #b9b9b9, 0 2px 3px #d6d6d6;
  border-radius: 5px;
  border: 1px solid white;
  padding: 8px;
}
.search-field:focus{
  outline: none;
  box-shadow: 0 2px 10px #b9b9b9, 0 1px 1px #d6d6d6;
}

.btn{
  margin-left: 20px;
  background: rgb(0,253,255);
  border-radius: 5px;
  border: 1px solid rgb(0,253,255);
  color: blue;
  font-weight: bold;
  padding: 8px;
}
.btn:active, .btn:focus, .btn:hover{
  outline: none;
  background: rgba(0,253,255,0.6);
}

.show-card{
  padding: 10px;
  margin: 10px;
  max-width: 220px;
  border-radius: 9px;
  box-shadow: 0 5px 15px #eaeaea, 0 2px 3px #d6d6d6;
}


.results-component{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}